.card {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
    width: 19.657%;
    height: 320px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 18px 1px 18px 1px ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../assets/icon.png');
  }

  .card__svg {
    margin: 32px 10px 0px 0px;
  }
  .card span {
    font-weight: bold;
  } 
  
  .card .card__text {
    margin-top: 75px;
  }

  .card svg {
    float: right;
    margin: 6px 10px 5px 5px;
    opacity: 0;
    cursor: pointer;
  }
  
  .card:hover svg {
    opacity: 0.7;
  }
  
  .card:hover svg:hover {
    opacity: 1;
  }