.add-card {
    cursor: pointer;
    width: 19.85%;
    height: 320px;
    border-radius: 20px;
    padding: 10px 20px 10px 33px;
    margin: 18px 7px 18px 6px ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../assets/icon.png');
}
.add-card form {
    margin-top: 30px;
    margin-right: 11px;
    text-align: center;
}

.add-card span {
    font-weight: bold;
} 


.add-card input {
    display: inline-block;
    border-radius:5px;
    width: 200px;
    padding: 3px;
    background-color:antiquewhite;
}

.add-card button {
    display: inline-block;
    border-radius:5px;
    width: 160px;
    margin: 10px 20px 20px 20px;
    padding: 5px;
    cursor: pointer;
    background-color:#282c34;
    color:white;
    font-weight: bold;
}
.add-card svg {
    width: 40px;
    height: 40px;
    margin:  95px 10px 0px 85px;
}

.add-card p {
    margin-left: 44px;
}