* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/fone.jpg');
}

.container {
  padding-top: 20px;
  width: 82%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}




